form {
    margin: auto;
    text-align: left;
    height: 100%;
}

/* input, button, label ,select{ */
input,  label ,select{
	width: 100%;
    font-size: x-large;
}
span {
    position: absolute;
    margin: 0 20px;
    color: red;
    font-size: x-large;
}
mat-form-field{
    width: 100%;
    height: 10%;
}
button:first-of-type{
    position: absolute;
    right: 0;
}
div{
    position: relative;
}
form>button{
    width: 100%;
}
h2{
    position: absolute;
    top: 200px;
}
h3{
    margin-left: 5px;
}
