<div>

    <ng-container *ngIf="!user">
    
        <form #myForm="ngForm" (submit)="login()">
            
            <h2>Login: </h2>

            <mat-form-field appearance="outline">
                <mat-label>email: </mat-label>
                <input matInput #emailBox="ngModel" type="email" [(ngModel)]="credentials.email" name="email" minlength="8" maxlength="40" email required>
                <mat-error *ngIf="emailBox.errors?.required && emailBox.touched">Missing email.</mat-error>
                <mat-error *ngIf="emailBox.errors?.email && emailBox.touched">Invalid email.</mat-error>
                <mat-error *ngIf="emailBox.errors?.minlength &&!emailBox.errors?.email && emailBox.touched">minimum 8 characters.</mat-error>
                <mat-error *ngIf="emailBox.errors?.maxlength &&!emailBox.errors?.email && emailBox.touched">maximum 40 characters.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>password: </mat-label>
                <input matInput #passwordBox="ngModel" type="password" [(ngModel)]="credentials.password" name="password" minlength="4" maxlength="25" pattern="^[^\s][\w]*" required>
                <mat-error *ngIf="passwordBox.errors?.required && passwordBox.touched">Missing password.</mat-error>
                <mat-error *ngIf="passwordBox.errors?.minlength &&!passwordBox.errors?.pattern&& passwordBox.touched">minimum length is 4 characters.</mat-error>
                <mat-error *ngIf="passwordBox.errors?.maxlength && passwordBox.touched">password too long.</mat-error>
                <mat-error *ngIf="passwordBox.errors?.pattern && passwordBox.touched">password invalid.</mat-error>
            </mat-form-field>
    
            <button mat-stroked-button [disabled]="myForm.form.invalid">Login</button>
    
        </form>
        <br>
        <a routerLink="/register">Register</a>
        
    
    </ng-container>
    
    <section *ngIf="user&&user.isAdmin==='no'">
        <h1>you are logged in</h1>
        <button mat-stroked-button *ngIf="isOpen&&isOpen==='not yet'" (click)="openCart()">Start Shopping</button>
        <button mat-stroked-button *ngIf="isOpen&&isOpen==='yes'" routerLink="/shopping-area">Resume Shopping</button>
    </section>
    
    <section *ngIf="user&&user.isAdmin==='yes'">
        <h1>you are logged in</h1>
        <button mat-stroked-button routerLink="/admin">Admin Page</button>
    </section>
</div>